<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>List of users</h1>
    {{#if users}}
        <ul class = "people_list">
            {{#each users}}
            <li>
                <p>
                    {{this.username}} 
                </p>
                <img src="{{this.avatar}}" alt="avatar" style="width: 64px"> 
                <a href="/addUser/{{this.id}}">Update</a>
                <button class="delete" data-id="{{this.id}}">Delete</button>
            </li> 
            {{/each}}
        </ul>
    {{else}}
        <h1> No data show </h1>
    {{/if}}

<script>

  $(".delete").on("click",function (){
    let id = this.dataset.id;

  fetch(`/deleteuser/${id}`,
            {
                method: "DELETE"
            }    
            ).then((data) => {
                if(data.status == 200){
                    $(this).parent().remove();
                }
            })
    console.log(id);
  })

</script>
</body>
</html>